<html>
<head>
    <script type="module">
        import { store } from "/components/chat/input/input-store.js";
    </script>
</head>
<body>
    <div id="input-section" x-data class="relative z-20 flex flex-col items-start gap-2 p-4 shrink-0 bg-gray-50 dark:bg-gray-900 border-t border-gray-200 dark:border-gray-700">
        <template x-if="$store.chatInput">
            <div class="w-full contents">
                <!-- Attachment Preview section -->
                <div class="w-full">
                    <x-component path="/chat/attachments/inputPreview.html" />
                </div>

                <x-component path="chat/input/chat-bar-input.html" class="w-full"></x-component>
                <x-component path="chat/input/bottom-actions.html"></x-component>
            </div>
        </template>
    </div>
</body>
</html>

