<html>

<head>
    <title>Create a new project</title>
    <script type="module">
        import { store } from "/components/projects/projects-store.js";
    </script>
</head>

<body>
    <div x-data>
        <template x-if="$store.projects && $store.projects.selectedProject">
            <div>
                <div class="mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Non-sensitive variables</label>
                    <p class="mb-2 text-xs text-gray-500 dark:text-gray-400">Store non-sensitive variables in .env format e.g. EMAIL_IMAP_SERVER="imap.gmail.com", one item per line. You can use comments starting with # to add descriptions for the agent. See <a href="javascript:openModal('settings/secrets/example-vars.html')" class="text-blue-600 hover:underline dark:text-blue-500">example</a>.<br>These variables are visible to LLMs and in chat history, they are not being masked.</p>
                    <textarea class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 font-mono" 
                        x-model="$store.projects.selectedProject.variables"
                        rows="10" placeholder="Enter project variables"></textarea>
                </div>

                <div class="mb-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sensitive variables</label>
                    <p class="mb-2 text-xs text-gray-500 dark:text-gray-400">
                        Store secrets and credentials in .env format e.g. EMAIL_PASSWORD="s3cret-p4$$w0rd", one item per line. You can use comments starting with # to add descriptions for the agent. See <a href="javascript:openModal('settings/secrets/example-secrets.html')" class="text-blue-600 hover:underline dark:text-blue-500">example</a>.<br>These variables are not visible to LLMs and in chat history, they are being masked. ⚠️ only values with length >= 4 are being masked to prevent false positives.
                    </p>
                    <textarea class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 font-mono"
                        x-model="$store.projects.selectedProject.secrets" rows="10"
                        placeholder="Enter project secrets"></textarea>
                </div>
            </div>
        </template>
    </div>
</body>
<style>
</style>

</html>