<html>
<head>
  <script type="module">
    import { store } from "/components/sidebar/bottom/sidebar-bottom-store.js";
  </script>
</head>
<body>
  <div x-data>
    <template x-if="$store.sidebarBottom">
      <div class="flex flex-col shrink-0">
        <!-- Preferences Panel -->
        <x-component path="sidebar/bottom/preferences/preferences-panel.html"></x-component>
        
        <!-- Version Info -->
        <div class="relative pt-2 mx-4 mb-4 border-t border-gray-200 dark:border-gray-700">
          <span id="a0version" class="text-xs text-gray-500 select-all dark:text-gray-400" x-text="$store.sidebarBottom.versionLabel"></span>
        </div>
      </div>
    </template>
  </div>
</body>
</html>

